
 <%=  form_for(@blog, local: true)  do  |f| %>
        <div>
            <label><%= f.label :title %></label>
            <div><%= f.text_field :title, class: "form-control" %></div>
        </div>
        <div class="mt-2">
            <label><%= f.label :description %></label>
            <div><%= f.text_area :description, class: "form-control" %></div>
            <% f.text_field :user_id, value: current_user.id,  class: "form-control" %>
        </div>
        <div class="mt-2">
            <label><%= f.label :Categories %></label>
            <div>
                <%= f.collection_select(:category_ids, Category.all, :id, :name,
                { prompt: "Please choose categories"}, {multiple: true, class: "form-control", size:3 }) %>
            </div>
        </div>
        <div class="mt-3">
            <%= f.submit "save", class: "btn btn-dark" %>
        </div>

    <% end %>
