<div class="container mt-4">

<%= link_to "Create new blog", new_blog_path, class: "btn btn-sm btn-info" %>
<%= request.original_url  %>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    <% @blogs.each do |blog| %>
    <tr>
        <td><%= blog.id %></td>
        <td><%= blog.title %></td>
        <td><%= blog.description %></td>
        <td>
            <%= link_to "Show", blog_path(blog)%>
            <%= link_to "edit", edit_blog_path(blog)%>
            <%= link_to "Delete", blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
    </tr>
    <% end %>
</table>

</div>
